/* Grundinställningar för box-modell och standardmått */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

/* Grundläggande teckensnitt för hela sidan */
#root, body, html {
  font-family: Montserrat, sans-serif;
}

/* Styla för högre skärmar */
@media only screen and (min-height: 844px) {
  body {
    height: 100%;
    width: 100%;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#3b3e98, #1681d3);
    margin: 0;
  }

  .panelContentParent {
    display: flex;
    justify-content: center;
  }

  .panelContent {
    position: absolute;
    max-width: 370px;
    bottom: 40px;
    width: 90%;
    height: 330px;
    background-color: #3e3a94;
    border-radius: 10px;
    z-index: 3;
    transition: transform .3s;
  }

  .textContentPanel {
    display: flex;
    align-items: center;
    margin-left: 5px;
    width: 95%;
    height: 60px;
    color: #fff;
  }

  .textContentPanel1 {
    margin-left: 10px;
    font-size: 3vw;
  }

  .textContentPanel2 {
    width: 20vw;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 2px;
    font-size: 5vw;
  }

  .qrPanel {
    margin: auto;
    background-color: #fff;
    width: 95%;
    height: 73%;
    border-radius: 10px;
  }

  .transparent2 {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    background-color: transparent;
    width: 100%;
    height: 63%;
  }

  .qrCode {
    pointer-events: none;
    margin-top: 5px;
    width: 100%;
    height: 84%;
    user-select: none;
    object-fit: scale-down;
  }

  .qrCodeText {
    font-size: 4vw;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3e3a94;
    font-weight: 600;
  }

  .checkIdText {
    color: #fff;
    font-size: 3vw;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 9%;
  }
}

/* Styla för kortare skärmar */
@media only screen and (max-height: 812px) {
  body {
    height: 100%;
    width: 100%;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#3b3e98, #1681d3);
    margin: 0;
  }

  .panelContent {
    position: absolute;
    max-width: 370px;
    bottom: 40px;
    width: 90%;
    height: 300px;
    background-color: #3e3a94;
    border-radius: 10px;
    z-index: 3;
    transition: transform .3s;
  }

  .qrPanel {
    margin: auto;
    background-color: #fff;
    width: 95%;
    height: 71%;
    border-radius: 10px;
  }
}

/* Ytterligare stilering för ännu lägre skärmar */
@media only screen and (max-height: 811px) {
  body {
    height: 100%;
    width: 100%;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 844px;
    background: linear-gradient(#3b3e98, #1681d3);
    margin: 0;
  }

  .panelContent {
    position: absolute;
    max-width: 370px;
    bottom: 40px;
    width: 90%;
    height: 330px;
    background-color: #3e3a94;
    border-radius: 10px;
    z-index: 3;
    transition: transform .3s;
  }
}

/* Allmän stil för text och ikoner */
.headText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 50px;
  height: 20px;
}

.iconLeft {
  position: absolute;
  height: 20px;
  width: 20px;
  font-weight: 700;
}

.iconLeftLink {
  z-index: 11;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  left: 10px;
}

.transparent3 {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 5%;
}

.iconRight {
  position: absolute;
  right: 10px;
  height: 35px;
}

.logoImg {
  position: absolute;
  height: 14px;
  pointer-events: none;
}

.plus {
  height: 20px;
  margin-left: 70px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 7px;
}

#particlesClick {
  height: calc(100% - 100px);
  position: absolute;
  width: 100%;
  margin-top: 10px;
  z-index: 3;
}

.faceContent {
  pointer-events: none;
  margin-top: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
}

.transparent {
  position: absolute;
  z-index: 10;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  background-color: transparent;
  width: 225px;
  height: 225px;
}

.faceContent img.spinImg {
  grid-area: 1 / 1;
  height: 205px;
  width: 205px;
  z-index: 4;
  object-fit: scale-down;
  border-radius: 50%;
  animation: spin 5s infinite linear;
}

.faceContent img {
  z-index: 99;
  pointer-events: none
